<h3 style="margin"><b>Com o que posso ajudar?</b></h3>
	
<div style="margin: 10px; margin-top: 50px; ">
	<div class="barraAjuda" style="border-radius: 20px 20px 0px 0px;">
	<%= link_to "Como usar o Geral?" %>
	</div>

	<div class="barraAjuda">
	<%= link_to "Como usar o Estoque?" %>
	</div>

	<div class="barraAjuda">
	<%= link_to "Como usar o cadastro de Vendas?" %>
	</div>

	<div class="barraAjuda">
	<%= link_to "Como usar o cadastro de Entrada de mercadorias?" %>
	</div>

	<div class="barraAjuda" style="border-radius: 0px 0px 20px 20px">
	<%= link_to "Como usar o cadastro de Despesas?" %>
	</div>
</div>