<span  lass="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
  <%= image_tag "hamburger.png" %>
</span>
      

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to('', '#') %></li>
        <li><%= link_to('', '#') %></li>
        <li><%= link_to('', '#') %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "My Account" %></li>
          <li><%= link_to "Sign out" %></li>
          <li><%= link_to "Sign in" %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>

<div class="btn-group">
  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Large button
  </button>
  <div class="dropdown-menu">
    ...
  </div>
</div>

<div class="dropdown">
  <span  id="menu" data-toggle="dropdown">
    <%= image_tag "hamburger.png" %>
  </span>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
    <li><a tabindex="-1" href="#">Action</a></li>
    <li><a tabindex="-1" href="#">Another action</a></li>
    <li><a tabindex="-1" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>

