<h1 align="center">Log in</h1>

<div class="formDiv row">
  <%= form_for(:session, url: login_path) do |f| %>
    <div style="text-align: left;">  
      <%= f.label :email ,"E-mail:" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Senha:" %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <br>
    <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <p>Novo por aqui? <%= link_to "Crie sua conta!", signup_path %></p>
  </div>
</div>