<ul style="margin-right: auto; font-size: 0.85em;" class="nav nav-tabs">
  <li style="width: 60px;" class="active"><%= link_to "Busca", geral_path(:anchor => 'Busca'), data: { toggle: 'tab' } %></li>
  <li style="width: 60px;"><%= link_to "Vendas",  geral_path(:anchor => 'Vendas'), data: { toggle: 'tab' } %></li>
  <li style="width: 90px;"><%= link_to "Mercadorias",  geral_path(:anchor => 'Mercadorias'), data: { toggle: 'tab' } %></li>
  <li style="width: 80px;"><%= link_to "Despesas",  geral_path(:anchor => 'Despesas'), data: { toggle: 'tab' } %></li>
</ul>

<div class="tab-content">
  <div id="Busca" class="tab-pane fade in active">
    <h3>Buscar por...</h3>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= form_tag "/geral/busca", autocomplete: 'off' do %>
          <h4>Mercadoria:</h4>
          <%= label :description, "Descrição ou Nome:" %>
          <%= text_field_tag :description, params[:description], class: 'form-control' %>

          <%= label :buyed_from, "Fornecedor da mercadoria:" %>
          <%= text_field_tag :buyed_from, params[:buyed_from], class: 'form-control'  %>
          
          <%= label :sold_to, "Vendido a:" %>
          <%= text_field_tag :sold_to, params[:sold_to], class: 'form-control'  %>

          <%= label :kind, "Tipo de mercadoria:" %>
          <%= text_field_tag :kind, params[:kind], class: 'form-control'  %>

          <br>
          <h4>Data:</h4>
          <div style="width: auto;">
            <div class="inlineblockDiv" style="margin-left: auto;">
              <%= label :day, "Dia:" %>
              <%= text_field_tag :day, params[:day], class: 'form-control', style: "width: 45px;" %>
            </div>

            <div class="inlineblockDiv" style="margin: auto;">
              <%= label :month, "Mês:" %>
              <%= text_field_tag :month, params[:month], class: 'form-control', style: "width: 45px;" %>
            </div>

            <div class="inlineblockDiv" style="margin: auto;">
              <%= label :year, "Ano:" %>
              <%= text_field_tag :year, params[:year], class: 'form-control', style: "width: 60px;" %>
            </div>
          </div>
          <br>
          <h4>Despesa:</h4>
            <%= label :expense_reason, "Motivo:" %>
            <%= text_field_tag :expense_reason, params[:expense_reason], class: 'form-control'%>

            <%= label :expense_kind, "Tipo:" %>
            <%= text_field_tag :expense_kind, params[:expense_kind], class: 'form-control' %>
          <br>

          <%= submit_tag "Buscar", class: "btn btn-primary buttons" %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="Vendas" class="tab-pane fade">
      <h3>Vendas </h3>
  </div>
  <div id="Mercadorias" class="tab-pane fade">
      <h3>Entrada de Mercadorias </h3>
  </div>
  <div id="Despesas" class="tab-pane fade">
      <h3>Despesas</h3>
  </div>
</div>