(em ordem de cadastro)
<h1>Histórico de vendas:</h1>

<table>
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Quantidade</th>
      <th>Preço(u)</th>
      <th>Lucro</th>
      <th>Vendido à</th>
      <th>Dia</th>
      <th>Mês</th>
      <th>Ano</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.good.description %></td>
        <td><%= sale.quantity %></td>
        <td><%= number_to_currency(sale.sell_price,  :unit => "R$ ", :separator => ",", :delimiter => ".") %></td>
        <td><%= number_to_currency(sale.quantity*(sale.sell_price - sale.good.buy_price),  :unit => "R$ ", :separator => ",", :delimiter => ".") %>
        <td><%= sale.sold_to %></td>
        <td><%= sale.sell_day %></td>
        <td><%= sale.sell_month %></td>
        <td><%= sale.sell_year %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<h1>Histórico de mercadorias:</h1>

<table>
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Preço(u)</th>
      <th>Comprado de</th>
      <th>Tipo</th>
      <th>Dia</th>
      <th>Mês</th>
      <th>Ano</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goods.each do |good| %>
      <tr>
        <td><%= good.description %></td>
        <td><%= number_to_currency(good.buy_price,  :unit => "R$ ", :separator => ",", :delimiter => ".") %></td>
        <td><%= good.buyed_from %></td>
        <td><%= good.kind %></td>
        <td><%= good.buy_day %></td>
        <td><%= good.buy_month %></td>
        <td><%= good.buy_year %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<h1>Histórico de despesas:</h1>

<table>
  <thead>
    <tr>
      <th>Custo</th>
      <th>Tipo</th>
      <th>Motivo</th>
      <th>Dia</th>
      <th>Mês</th>
      <th>Ano</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= number_to_currency(expense.cost,  :unit => "R$ ", :separator => ",", :delimiter => ".") %></td>
        <td><%= expense.kind %></td>
        <td><%= expense.reason %></td>
        <td><%= expense.day %></td>
        <td><%= expense.month %></td>
        <td><%= expense.year %></td>
      </tr>
    <% end %>
  </tbody>
</table>