<h1 align="center">Cadastro</h1>

<div class=" formDiv row">
  <%= form_for @user, html: { autocomplete: "off" } do |f| %>
    <div style="text-align: left;">
      <%= f.label :name, "Nome:" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, "E-mail:" %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :password,"Senha:" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirme sua senha:" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
    <br>
    <%= f.submit "Criar minha conta", class: "btn btn-primary" %>
  <% end %>
  <p>Já possui conta? <%= link_to "Logue-se!", login_path%></p>
</div>