<div>
	<div class="menuDiv">
		<div align="center" >
			<%= link_to geral_path do %>
				<div class="menuButton">
					<div class="inlineblockDiv" style="margin: 20px;">
						<%= image_tag "Tabela_pixel.png" %>
						<section style="color: white;">
							<b>Geral</b>
						</section>
					</div>
				</div>
			<% end %>
			<%= link_to goods_path do %>
				<div class="menuButton " >
					<div class="inlineblockDiv" style="margin: 20px;">
						<%= image_tag "Caixa_pixel.png" %>
						<section style="color: white;">
							<b>Estoque</b>
						</section>
					</div>
				</div>
			<% end %>
		</div>

		<div align="center">
			<%= link_to goods_path do %>
				<div class="menuButton">
					<div class="inlineblockDiv" style="margin: 20px;">
						<%= image_tag "Sifrao-mais_pixel.png" %>
						<section style="color: white;">
							<b>Venda</b>
						</section>
					</div>
				</div>
			<% end %>
			<%= link_to new_expense_path do %>
				<div class="menuButton">
					<div class="inlineblockDiv" style="margin: 20px;">
						<%= image_tag "Sifrao-menos_pixel.png" %>
						<section style="color: white;">
							<b>Despesa</b>
						</section>
					</div>
				</div>
			<% end %>
		</div>	

		<div align="center">
			<%= link_to new_good_path do %>
				<div class="menuButton">
					<div class="inlineblockDiv" >
						<%= image_tag "Caminhao_pixel.png" %>
						<section style="color: white;">
							<b>Entrada de Mercadoria</b>
						</section>
					</div>
				</div>	
			<% end %>
			<%= link_to ajuda_path do %>
				<div class="menuButton">
					<div class="inlineblockDiv" style="margin: 20px;">
						<%= image_tag "Interrogação_pixel.png" %>
						<section style="color: white;">
							<b>Ajuda</b>
						</section>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
