<h3 align="center">Entrada de Mercadoria</h3>

<div class="formDiv row">
  <%= form_for @good, html: { autocomplete: "off" } do |f| %>
    <div style="text-align: left;">
      <%= f.label :description, "Descrição ou Nome:" %>
      <%= f.text_field :description, class: 'form-control' %>

      <%= f.label :quantity, "Quantidade:" %>
      <%= f.number_field :quantity, class: 'form-control' %>

      <%= f.label :buy_price, "Preço de compra por unidade: (R$)" %>
      <%= f.text_field :buy_price, step: 0.01, :placeholder => 'ex.: 123,45', class: 'form-control' %>

      <div style="width: auto;">
        <div class="inlineblockDiv">
          <%= f.label :buy_day , "Dia:" %>
          <%= f.text_field :buy_day, class: 'form-control', style: "width: 45px;" %>
        </div>

        <div class="inlineblockDiv">
          <%= f.label :buy_month, "Mês:" %>
          <%= f.text_field :buy_month, class: 'form-control', style: "width: 45px;" %>
        </div>

        <div class="inlineblockDiv">
          <%= f.label :buy_year, "Ano:" %>
          <%= f.text_field :buy_year, :placeholder => '2018..', class: 'form-control', style: "width: 60px;" %>
        </div>
      </div>
      
      <%= f.label :kind, "Tipo de mercadoria: (Opcional)" %>
      <%= f.text_field :kind, :placeholder => 'ex.: Bijuteria, Quadro, Cosmético..', class: 'form-control' %>

      <%= f.label :buyed_from, "Fornecedor da mercadoria: (Opcional)" %>
      <%= f.text_field :buyed_from, :placeholder => 'ex.: Vendedor, Loja, Leilão..', class: 'form-control' %>
    </div>
    <br>
    <%= f.submit "Cadastrar mercadoria", class: "btn btn-primary" %>
  <% end %>
</div>
<br>
<%= link_to "Voltar", :back %>
