<p id="notice"><%= notice %></p>

<h1>Sales</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Good</th>
      <th>Quantity</th>
      <th>Sell price</th>
      <th>Sold to</th>
      <th>Sell day</th>
      <th>Sell month</th>
      <th>Sell year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.user_id %></td>
        <td><%= sale.good_id %></td>
        <td><%= sale.quantity %></td>
        <td><%= sale.sell_price %></td>
        <td><%= sale.sold_to %></td>
        <td><%= sale.sell_day %></td>
        <td><%= sale.sell_month %></td>
        <td><%= sale.sell_year %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path %>
