<div style="max-width: 300px; background: #C0C0C0; border: 3px solid transparent; border-radius: 10px; margin: 5px; color: white;">
  <div style="text-align: left; margin-left: 10px;"><b> Vendendo: </b></div>
  <h3 style="margin-top:5px;"><%= @good.description %></h3>
</div>

<div class=" formDiv row">
  <%= form_for @sale, html: { autocomplete: "off" } do |f| %>
    <div style="text-align: left;">
      <%= f.label :quantity, "Quantidade:" %>
      <%= f.number_field :quantity, class: 'form-control' %>

      <%= f.label :sell_price, "Preço de venda por unidade:" %>
      <%= f.text_field :sell_price, step: 0.01, class: 'form-control' %>

      <div style="width: auto;">
        <div class="inlineblockDiv">
          <%= f.label :sell_day , "Dia:" %>
          <%= f.text_field :sell_day, class: 'form-control', style: "width: 45px;" %>
        </div>

        <div class="inlineblockDiv">
          <%= f.label :sell_month, "Mês:" %>
          <%= f.text_field :sell_month, class: 'form-control', style: "width: 45px;" %>
        </div>

        <div class="inlineblockDiv">
          <%= f.label :sell_year, "Ano:" %>
          <%= f.text_field :sell_year, class: 'form-control', style: "width: 60px;" %>
        </div>
      </div>

      <%= f.label :sold_to, "Vendido a: (Opcional)" %>
      <%= f.text_field :sold_to, class: 'form-control' %>

  	  <%= f.hidden_field :good_id, :value => @good.id %>
    </div> 
    <br>
    <div class="actions">
      <%= f.submit "Cadastrar Venda", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<br>
<%= link_to "Voltar", :back %>
