<header>
	<div class="headerDiv">
	<% if logged_in? %>
		<div class="header-hamburger">
			<span  onclick="openNav()">
  				<%= image_tag "hamburger.png" %>
			</span>
		</div>
		<div class="header-logo">
			<b>Simple Merch</b>
		</div>	
		<%= link_to current_user do %>
			<div class="header-menu">
				<%= image_tag "menu-icon.png" %>
			</div>
		<% end %>
	<% else %>
		<div align="center" style="margin-top: 10px; font-size: 1.6em; color: white;">
			<b>Simple Merch</b>
		</div>		
	<% end %>
</header>
<% if logged_in? %>
	<div id="Sidenav" class="sidenav">
		<span><%= link_to "Usuário", edit_user_path(current_user) %></span>
		<span><%= link_to "Contato" %>
	  <span style="border-top: 2px solid white; margin-top: 5px;"><%= link_to "Sair", logout_path, method: :delete %></span>
	</div>
<% end %>
