<header >
    <div align="center" class="header col-xs-12">
		<% if logged_in? %>
			<div class="header-menu">
				<%= link_to current_user do %>
					<%= image_tag "menu-icon.png" %>
				<% end %>
			</div>
			<div class="simplemerch-icon" style="margin-left: 10px;">
				<%= image_tag "simplemerch-icon.png" %>
			</div>
			<div class="header-logout">
				<%= button_to "Sair", logout_path, method: :delete, class: "btn btn-sm btn-hover btn-default" %>	
			</div>
		<% else %>
			<div class="simplemerch-icon">
				<%= image_tag "simplemerch-icon.png" %>
			</div>			
		<% end %>
	</div>
</header>