<!DOCTYPE html>
<html>
  <head>
    <title>SimpleMerch</title>
     <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div align="center" class="main">
      <% if false %>
        <div class="flashDiv">
          <% flash.each do |message_type, message| %>
            <div style="text-align: center" class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
